<h2>PRINT function<h2/>

In [ ]:
print("Harshi is back")

In [ ]:
print(1,".","Harshi","is","living","in","US")

In [ ]:
print(2,".","Harshi","is","living","in","US",sep='/')

In [ ]:
print(2,".","Harshi","is","living","in","US",sep='-')

<h1>Python supports 3 categories of data types</h1>

<p>  
Basic types-(integer, float, complex, boolean,and string 
    
Container types-(list, tuples, sets, and dictionary)
    
User-defined types- Class
    </p>

In [ ]:
# integer
print(4)

In [ ]:
# float
print(4.5)

In [ ]:
# complex 
print(4+5j)

In [ ]:
# boolean
print(True)

In [ ]:
# strings
print('1')
print("1")
print('''1''')

In [ ]:
#list
print([1,2,3,4])

In [ ]:
# tuple
print((1,2,3,4))

In [ ]:
#sets
print({1,2,4})

In [ ]:
# dict
print({"name":"harshi","age":21,"gender":"male"})

<h3>Comments- A piece of code which is not executable by the the complier or interpreter</h3>

In [32]:
# Comments

<h3>Variables</h3>

In [ ]:
# C lang 
# int a= s 
# in python its easy because there is no variable declaration
name='Harshi'
print(name)

In [34]:
# Python is Dyanmic typic 
# dynamic binding= variable can have any data type

In [ ]:
# special Syntax 
a=5;b=6;c=7
print(a)
print(b)
print(c)

In [ ]:
a,b,c=1,2,3
print(a)
print(b)
print(c)

<h3>Keywords and identifiers</h3>

<h4>KEYWORDS</h4>
<p> 
 Python is a case sensitive programming langauge
 In programming, a keyword is a word that is reserved by a because the word has a special meaning. Keywords can be command or parameters. 
 Keywords can be commands or parameters. Every programming langauge has a set of keywords that cannot be used as variale names.

    Python has 33 keywods
</p>

In [ ]:

import keyword
print(keyword.kwlist)

<h4>IDENTIFIERS</h4>
<p>A python identifier is a name used to identify a variable, function, class, module, or other object.</p>

<h5>Rules for setting identifiers</h5>
<p>
1. can only start with an alphabet or.
2. Followed by 0 or more letter,_and digits. 
3. keywords cannot be used as an identifiers
</p>

In [ ]:
_harshi13='Harshi'
print(_harshi13)

<h3>Taking user input</h3>

In [ ]:
# This comes under dynamic interaction or software
#* Input function returns a string by default.
input("Apna naam bta")

In [40]:
first_num=input("Enter the first number")
sec_num=input("Enter the second number")

In [ ]:
print(first_num)
print(sec_num)

In [ ]:
result= int(first_num)+ int(sec_num)
print(result)

In [ ]:
# Type function
type(result)

<h4>Type Conversion</h4>

In [ ]:
 #process of converting a number to a string or a string to a number.  
# expilcit and implicit conversion

#implict =automatic
4+4.5

#explicit converting by with the human help 
int()
print(result)

<h3>Literals</h3>
<h6>literal is a raw data given in a variable. In python, there are various types of literals they are as follows:</h6>
<p>
numerica literals, 
String literals,
boolean literals,
special literals
</p>

In [ ]:
#Numerical literals


a= 0b1010 #*Binary literals
b=100 #*decimal literals
c=0o310 #*octal literals
d=0x12c #*hexadecimal literals

#Float literals
float_1= 10.5
float_2=1.5e2
float_3=1.5e-3

#complex literals
x=3.14j

print(a,b,c,d)
print(float_1,float_2,float_3)
print(x,x.imag,x.real)

In [ ]:
# String literals

string ='this is a string'
strings ="this is a string"
char ="C"
MultiLine_str="""this is a multi-line string"""
unicode= u"\U0001f600\U0001f607\U0001f608"
raw_str=r"raw \n string "

print(string)
print(strings)
print(char)
print(MultiLine_str)
print(raw_str)
print(unicode)

In [ ]:
#Boolean literals

a= True + 4
b= False + 10

print("a: ", a)
print("b: ", b)

In [ ]:
#Special literal
a= None
print(a)

# Operators
opertors are used to perform operations on variables and values. Python has the following operators:
* Arithmetic operations
* comparison operations
* logical operations
* bitwise operations
* Assignment operators
* Identity operators
* Memborship operators

In [ ]:
#* Arithmatic operations
x=5
y=2
print(x+y)
print(x*y)
print(x%y)
print(x**y)
print(x // y)

In [ ]:
#! Comparison operations
print(x>y)
print(x<y)
print(x<=y)
print(x>=y)
print(x==y)
print(x!=y)

In [ ]:
#Logical operations
x=True
y=False

print(x or y)
print(x and y)
print(not y)

In [ ]:
# Bitwise operations
x=2
y=3

# & means AND 
print(x & y) # the answer is two because of the following
# 2= 010
# 3= 110
# -------- comparing true and false with bits 
#    010
# --------

In [ ]:
# | means OR 
print(x | y) # the answer is two because of the following
# 2= 010
# 3= 110
# -------- comparing true and false with bits 
#    110
# --------

In [ ]:
print( x>>2)

In [ ]:
print(y<<3)

In [ ]:
print(-x)

In [ ]:
# Assignment operators
a=3
print(a)
#now 
a+=3
print(a)
a-=3
print(a)
a*=3
print(a)
a&=3
print(a)

In [ ]:
# identity operators- means variable values are same and stored at the same location 
a=3
b=3

print(a is b)
a="he"
b="he"

print(a is b)
a=[1,2,3]
b=[1,2,3]

print(a is b)
print(a is b)
a="h-e"
b="h-e"

In [ ]:
# Membership operators
x="Delhi"
print( "D" in x)
print( "D" not in x)

x=[1,2,3]
print(5 in x)

<h2>If-Else Statements</h2>

In [ ]:
email= input("Enter your email address")


if "@" in email:
    password= input("Enter your password")
    if email=="harshneets50@gmail.com" and password=="1234":
        print("Login successful")
    elif email=="harshneets50@gmail.com" and password!="1234":
        print("Login failed")
        password=input("Enter your password and try again")
        if password=="1234":
            print("Login successful")
        else:
            print("Login failed again")
    else:
        print("Invalid credentials")
else:
    print("Password should contain @ symbol")

<h2>Identation is</h2>
gap in situation like if-else

<h1>While LOOP</h1>

In [ ]:
#It is used where when we dont know the times of iterations for our function

number= int(input("Enter the table you need"))
length=int(input("Length of the table you"))

i=0
while i<=length:
    print(f"{number} times {i}=",number*i)
    i+=1

<h2>Guessing game in python</h2>

In [ ]:
import random

randomGuess=random.randint(0,100)  # random number generator
guess= int(input("Enter your guess"))# random user gusess
attempt=1
#code which will check weather the user's input==randomGuess number

#* this while loop will carry on until the user guesses the right random number
while guess!=randomGuess:
   if guess>randomGuess:
      print("Too high, try again",guess)
   else:
      print("Too low, try again",guess)

   guess= int(input("Enter your guess again"))
   attempt+=1


print("Congratulations! You guessed the number in",attempt,"attempts")

<h1>For LOOP</h1>

In [ ]:
# range function

range(0,5)
print(list(range(0,5)))

#* it means range function has 3 parameters 
# 1st parameter is start of the range //  inital number is 0
# 2nd parameter is end of the range (exclusive)
# 3rd parameter is step size

print(list(range(15)))

#step 
print(list(range(0,20,2)))

#backward 

print(list(range(20,0,-1)))

In [ ]:
# EXAMPLE1
#! here it will not count the last range number 10


for i in range(1,10):
    print(i)

# this above code is similar to the 
#   for(i=0,i<10,i++){
#      printf(i);
#   }

In [ ]:
# EXAMPLE2
#! here it will  count the last letter of the word

for i in "Kolkata":
    print(i)

In [ ]:
#Nested loop
# *
# **
# ***
# ****
# *****
lines= int(input("Enter the number of lines you need"))


for i in range(0,lines):# this will make the lines of stars
    for star in range(0,i+1):# this will make the stars in the lines
        print("*",end=" ")
    print("") # this print will give us new line.

In [ ]:

#* BREAK

for i in range(0,10):
    if i==5:
        break
    print(i)

In [ ]:
# CONTINUE 

for i in range(0,10):
    if i==5:
        continue # any code after continue will not run in that particulas iteration
    print(i)
    print("hi")

In [23]:
# Pass statemtent

for i in range(0,10):
   
        pass # this will not give any output in any iteration

<h1>Built in Functions</h1>

In [ ]:
#ABS function
abs(-4) #modulas funtion

In [ ]:
#POW function

pow(2,-3) #3^-2
pow(2,3) #3^2

In [ ]:
# MINIMUM AND MAXIMUM FUNCTIONS
min([0,2,3,4,5])

In [ ]:
max([1,2,3,4,5])

In [ ]:
#ROUND FUNCTIONS

round(3.75) #3

In [ ]:
#DIVMOD function

divmod(10,3) # (3,1)

In [ ]:
#BIN/OCT/HEX function

print(bin(10)) # 1010
print(oct(10)) # 0o12
print(hex(117))

In [ ]:
#ID Functions

print(id(10)) # id of 10

In [ ]:
#ORD function

print(ord('A')) # 65

In [ ]:
#LENGTH FUNCTION 

print(len("Hello World")) # 11, INCLUDE SPACE AS WELL

In [ ]:
#SUM FUNCTION 

print(sum([1,2,3,4,5])) # 15

In [ ]:
#HELP function 

help('sum') # it will give the help for sum function

<h1>what are modules</h2>

consider a module to be the same as a code library.
<p>A file containing a set of funtions you want to include in your applixation.</p>
examples are: math, random, os, time

In [ ]:
help("modules")

In [ ]:
import math 
print(math.pi)
print(math.ceil(6.3))

In [ ]:
import random
random.randint(0,100)

In [ ]:
import time 
time.time()
time.ctime()

In [ ]:
print("hello")
time.sleep(1)
print("world")

In [ ]:
import os
print(os.listdir())
print(os.getcwd)

<h2>String are a sequence of Unicode Characters</h2>

- Creating Strings 
- Accessing strings
- Adding Chars to strings
- Editing strings
- Deleting strings
- Operations on strings
- String Functions

In [ ]:
 # Creating Strings

string1 = "Hello"
string2 = 'World'
string3 = "123"
string4 = '123'
string5 = '''Multi line strings'''
string6 = """Multi line strings"""



print(string1, string2, string3, string4, string5, string6)

In [ ]:
# Accessing strings
# Concept of Indexing

c= "hello"
print(c[1])

In [ ]:
#Types of Indexing

#* Positive Indexing -> Left to Right
#! Negative Indexing -> right to left

print(c[-1]) #last character

In [ ]:
# Slicing of strings
c = "hello Harshi"

print(c[0:4]) # from index 0 to 4
print(c[2:]) # from index 2 to end
print(c[2:6:2]) # from index 2 to 6 but 1 next will skip 

print(c[::-1])

In [ ]:
# Editing and deleting in strings

c= "hello"
print(c)

# c[0]='x' 'str' object does not support item assignment
# Strings are immutable immutable Data trpe

# Reassign is valid

c= "hEllo"
print(c)

#del c    this will delete the current string

# Operations on strings

- Arithmetic operations
- Relational operations
- Logical operations

In [ ]:
# Arithmetic operations

print("hello" + "world")
print("*"*50)

print("Mumbai">"Pune") # Lexiographically . pune comes in dict than mumbai

In [ ]:
# Logical operations
#* "" -> False . empty string is false for python
#* "hweehweu" -> True . filled string is true for python

print("hello" and "world")
print("world" and "") # result '' which means false
print("world" or "")
print(not "")

# Common Functions

- len 
- max 
- min
- sorted

In [ ]:
c="kolkata"
print(len(c))

print(max(c))

print(min(c))

print(sorted(c))

# for in descending order 

print(sorted(c,reverse=True))

In [ ]:
# Capitalization/ Title/ Upper/ Lower/ Swapcase

print(c.capitalize())

print("hi my name is ".title())

print(c.upper())

print(c.lower())

print("hello My name IS".swapcase())

In [ ]:
# Count
"It is raining".count("i")

In [ ]:
# Find/Index

print("hello world".find("world")) # will not throw exception and results -1

print("hello world".index("w")) # will throw error if not found

In [ ]:
# Endswith/Startswith

print("hello world".endswith("worl"))

print("hello world".startswith("hello"))

In [ ]:
# Format

name = "John"
age = 30
print("Hello, my name is {} and I am {} years old.".format(name, age))

print("Hello, my name is {1} and I am {0} years old.".format(name, age))

print(f"Hello, my name is {name} and I am {age} years old.")

In [ ]:
# Isalnum/ isalpha/ isdecimal/ isdegit/ isidentifier

print("hello123".isalnum()) #T
print("hello12@".isalnum()) #F


print("hello".isalpha())    #T
print("hello123".isalpha()) #F

print("123".isdigit())  #T
print("12r3".isdigit()) #F

print("sd_dsd".isidentifier())  #T

In [ ]:
# SPLIT

print("Who is the all god".split()) #['Who', 'is', 'the', 'all', 'god'

print("Who is the all god".split("all")) #'Who is the ', ' god']]


print("hello,world".split(",")) #['hello', 'world']

print("hello world".split(" ")) #['hello', 'world']

In [ ]:
# Join function

words = ["hello", "world"]
print(" ".join(words)) # hello world

numbers = [1,2,3,4,5]
print(",".join(map(str,numbers))) # 1,2,3,4,5

In [ ]:
# Replace function

print("hello world".replace("world", "python")) # hello python

print("hello world world".replace("world", "python")) #* hello python python

print("hello world world".replace("world", "python", 1)) #! hello python world

In [ ]:
# Strip

print("  hello world  ".strip()) # hello world

print("hello world  ".strip("h")) # ello world

# List 

- what is List?
- List v Array 
- Create
- Access
- Edit 
- Add
- Delete
- Operation
- Functions



* List v Array 
    - List can have more than one data type whereas in array can only have one data type.
    - Arrays are much faster
    - Lists are more proggramar Friendly

In [ ]:
# Create 
L= []
L= [1,2,3,4]
print(L)

In [ ]:
# Hetrogenius list
L= [1,2,"hi"]

print(L)

In [ ]:
#2D list
L= [1,2,3,[4,5]]

print(L)

In [ ]:
# 3D list

L= [[[1,2,3],[4,5,6],[7,8,9]]]

print(L)

In [ ]:
L2= list("harshi")

print(L2)

In [ ]:
# Accessing the list

print(L[0][0][0]) # [1,2,3,4]

In [ ]:
# editing the list 
#! List in python are mutable 

L3=[1,2,3,4]

L3[0]=100
print(L3)

In [ ]:
# Add

L4=[1,2,3,4]

L4.append(5)

print(L4)

In [ ]:
L4.insert(1,200)
print(L4)

In [ ]:
# Delete
L4=[1,2,3,4]

del L4[1]
print(L4)

L4.remove(4)
print(L4)

L4.clear()
print(L4)

In [ ]:
# Operation 
a= [1,2]
b=[3,4]
print(a+b)

In [39]:
#Functions

L4=[1,2,3,5]

# Sorted make a new sorted list 
# sort change a permanent list

In [ ]:
# Making a title function 

Input="How are you doing"
titleInput=[]

for i in Input.split(" "):
    titleInput.append(i.capitalize())

print(" ".join(titleInput))

In [54]:
# extracting string from email before @
email='harshneet@gmail.com'
print(email[:email.find("@")])

harshneet

In [57]:
# Removiiing duplicate items 

dup=[1,1,2,2,3,3,4,4]
sortL=[]
# print(list(set(dup)))

for i in dup:
    if i not in sortL:
        sortL.append(i)

print(sortL)

[1, 2, 3, 4]